<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot_password  - LoveJoy Antiques</title>
</head>
<body>
    <h1>forgot-password </h1>
    <form action="/forgot-password" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password" required>
        <button type="submit">forgot_password </button>
    </form>
</body>
</html>